# --- Base de datos PostgreSQL ---
DB_HOST=postgres-dev.cb4oayqkid8w.us-east-2.rds.amazonaws.com
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Pass123--
DB_NAME=postgres
DB_ECHO=false

# --- JWT ---
# Genera uno con: python -c "import secrets; print(secrets.token_urlsafe(48))"
JWT_SECRET=cambia-esto-en-produccion-por-un-secreto-largo-y-aleatorio
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080
